# PHP / Laravel
/vendor/
/node_modules/
/.env
/.env.*
/public/storage
/storage/*.key
/storage/*.pem
/storage/*.log
/storage/*.sqlite
/.idea
/.vscode
/.DS_Store
# Keys and certificates
*.pem
*.key
# ignore system files
*.log
